{# respond_article_hero/templates/respond-article-hero-theme.html.twig #}

<div class="jumbotron text-center" style="background-image: url('{{ image }}'); min-height: 376px">
  <div class="container">
    <h1 class="article-hero-title article-hero-title-highlight">{{ title }}</h1>
    <div class="article-hero-container">{{ tags }}</div>
  </div>
</div>
